
@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

.edit_title,h1, h3, p, ul, li {  /*마이페이지 내부 글씨체*/
    margin: 0;
    padding: 0;
    letter-spacing: -0.4px;
    font-family: 'Noto Sans KR', sans-serif;
  }


  h1 {  /* 마이페이지 밑줄*/
    border-bottom: solid #000000;
    padding-bottom: 20px;
  }

main{
margin-top:200px ;
width: 1200px;
margin: 200px auto;

}

.edit_title{
text-align: center;
margin-bottom: 40px;

}


.my-q {
    cursor: pointer;
}

.csl-button{
text-align: right;
}



nav{
text-align: center;
}