
@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);
div, h3, p, ul, li {  /*마이페이지 내부 글씨체*/
    margin: 0;
    padding: 0;
    letter-spacing: -0.4px;
    font-family: 'Noto Sans KR', sans-serif;
  }

main{
margin-top:200px ;
width: 1200px;
margin: 200px auto;

}

.edit_title{
text-align: center;

}


.my-q {
    cursor: pointer;
}

.csl-button{
text-align: right;
}

.img-thumbnail size{

}

nav{
text-align: center;
}